.container1 {
    margin-left: 220px; /* Yan menünün genişliği kadar ayarlandı */
    max-width: 1000px;
    padding: 20px;
    padding-bottom: 80px; /* Alt kısma boşluk eklendi */
    margin-right: auto; /* İçeriğin sağa çekilmesi */
}

.table {
    width: 100%; /* Tablo genişliği */
}

.card1 {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Kartın biraz yukarıda görünmesi için boşluk eklendi */
}
